body {
  font-family: Arial;
}

h1 {
  text-align: center;
}

.palettes {
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.palette {
  width: 33%;
  padding: 3rem;
  box-sizing: border-box;
  background: transparent;
  border: 0;
}

.palette-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.palette-container h2 {
  text-align: center;
  width: 100%;
}

.palettes:not(.selected-only) .palette.selected {
  outline: 0.5rem solid black;
}

.palette-color {
  width: 33%;
  padding-bottom: 33%;
}

.checkbox-container {
  padding-bottom: 2rem;
  text-align: center;
}

@media print {
  h1 {
    display: none;
  }

  .no-print {
    display: none;
  }

  .palette {
    padding: 1rem;
  }
}
